<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
  </head>
  <body>
    <div class="content">
      {% include navigation.html %}
      {{ content }}
    </div>
  </body>
</html>
